$mobile: 375px;
$tablet: 768px;
$sm-desktop: 1024px;
$lg-desktop: 1280px;
$desktop-1440: 1440px;
$xlg-desktop: 1600px;
$xxlg-desktop: 1900px;
$xxxlg-desktop: 2550px;
$xxxxlg-desktop: 3840px;
$wide: 1440px;
$column-gap: 16px;
$column-gap: 16px;
$base-font-size: 16;
